<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="{{ url_for('static', filename= 'css/login.css') }}"
      rel="stylesheet"
      type="text/css"
      media="all"
    />
    <!-- <link rel="stylesheet" href="../static/css/login.css"> -->

    <title>SMART DISTRIBUTION BOARD</title>
  </head>
  <body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul>
        {% for message in messages %}
        <div class="alert_red">
          <!-- <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> -->
          {{ message }}
        </div>
        <script>
          // Fade out the alert box after 3 seconds
          setTimeout(function() {
            var alertBox = document.querySelector('.alert_red');
            alertBox.style.opacity = '0';
            alertBox.style.transition = 'opacity 1s ease-in-out';
            setTimeout(function() {
              alertBox.remove();
            }, 1000);
          }, 3000);
        </script>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  <div class="container">
    <!-- code here -->
    <div class="card">
      <div class="card-image">
        <h2 class="card-heading">
          Welcome
          <small>Login to access the<br/> dashboard</small>
        </h2>
      </div>
      <form class="card-form" action="" method="post">
        <div class="input">
          <input type="text" id="username" name="username" class="input-field" required />
          <label class="input-label">Username</label>
        </div>
        <div class="input">
          <input type="password" id="password" name="password" class="input-field" required />
          <label class="input-label">Password</label>
        </div>
        <div class="action">
          <button class="action-button">Login</button>
        </div>
      </form>
      <div class="card-info">
        <p>
          &copy; Zibah Dashboard
        </p>
    Smart Distribution Board
      </div>
    </div>
  </div>    
  </body>
</html>
